<template>
    <div>
        <v-btn block secondary dark v-on:click="clickPlayerOne" style="height: 400px;  display: inline-block;">
            <div class="text-xs-center">
                {{playerOneName}}<br>
                <v-btn outline large fab class="white--text">
                    <v-icon>{{teamPlayerOne}}</v-icon>
                </v-btn>
                <br>
                {{numOfClickPlayerOne}}
            </div>
        </v-btn>
        <v-btn block secondary dark v-on:click="clickPlayerTwo" style="height: 400px;  display: inline-block; ">
            <div class="text-xs-center">
                {{playerTwoName}}<br>
                <v-btn outline large fab class="white--text">
                    <v-icon>{{teamPlayerTwo}}</v-icon>
                </v-btn>
                <br>
                {{numOfClickPlayerTwo}}
            </div>
        </v-btn>
    </div>
</template>

<script>
    export default {
        name: 'Game',
        data(){
            return {
                numOfClickPlayerOne: 0,
                numOfClickPlayerTwo: 0,
            }
        },
        methods: {
            clickPlayerOne(){
                let p1 = this.numOfClickPlayerOne += 1;
                let numOfClick = this.$route.params.click;
                if (p1 > 0 && p1 == numOfClick) {
                    this.$swal({
                        title: 'Winner !!!',
                        text: `${this.$route.params.p1}`,
                        showCancelButton: false,
                        imageUrl: '/winner.jpg',
                        confirmButtonText: 'Start New Game',
                        allowOutsideClick: false
                    }).then(function () {
                        window.location = "/";
                    })
                }
            },
            clickPlayerTwo(){
                let p2 = this.numOfClickPlayerTwo -= 1;
                let numOfClick = `-${this.$route.params.click}`;
                if (p2 < 0 && p2 == numOfClick) {
                    this.$swal({
                        title: 'Winner !!!',
                        text: `${this.$route.params.p2}`,
                        imageUrl: '/winner.jpg',
                        showCancelButton: false,
                        confirmButtonText: 'Start New Game',
                        allowOutsideClick: false
                    }).then(function () {
                        window.location = "/";
                    })
                }
            }
        },
        computed: {
            playerOneName(){
                return this.$route.params.p1;
            },
            teamPlayerOne(){
                return this.$route.params.t1;
            },
            playerTwoName(){
                return this.$route.params.p2;
            },
            teamPlayerTwo(){
                return this.$route.params.t2;
            },
        }


    }
</script>