<template>
    <div>
        <v-stepper v-model="e1">
            <v-stepper-header>
                <v-stepper-step step="1" :complete="e1 > 1">Player 1</v-stepper-step>
                <v-divider></v-divider>
                <v-stepper-step step="2" :complete="e1 > 2">Player 2</v-stepper-step>
                <v-divider></v-divider>
                <v-stepper-step step="3">Number of Click</v-stepper-step>
            </v-stepper-header>
            <v-stepper-content step="1">
                <v-card class="grey lighten-4 elevation-0">
                    <v-card-text>
                        <v-container fluid>
                            <v-layout row>
                                <v-flex xs4>
                                    <v-subheader>Player Name</v-subheader>
                                </v-flex>
                                <v-flex xs8>
                                    <v-text-field
                                            v-model="playerOneName"
                                            label="Type Your Name"
                                    ></v-text-field>
                                </v-flex>
                            </v-layout>

                            <v-layout row>
                                <v-flex xs4>
                                    <v-subheader>Choose your Team</v-subheader>
                                </v-flex>
                                <v-flex xs8>
                                    <v-radio label="Sun" v-model="teamPlayerOne" value="brightness_low" dark></v-radio>
                                    <v-radio label="Moon" v-model="teamPlayerOne" value="brightness_2" dark></v-radio>
                                    <v-radio label="Star" v-model="teamPlayerOne" value="stars" dark></v-radio>
                                    <v-radio label="Cloud" v-model="teamPlayerOne" value="cloud_queue" dark></v-radio>
                                </v-flex>
                            </v-layout>
                        </v-container>
                    </v-card-text>
                </v-card>
                <v-btn primary @click.native="e1 = 2">Continue</v-btn>
            </v-stepper-content>
            <v-stepper-content step="2">
                <v-card class="grey lighten-4 elevation-0">
                    <v-card-text>
                        <v-container fluid>
                            <v-layout row>
                                <v-flex xs4>
                                    <v-subheader>Player Name</v-subheader>
                                </v-flex>
                                <v-flex xs8>
                                    <v-text-field
                                            v-model="playerTwoName"
                                            label="Type Your Name"
                                    ></v-text-field>
                                </v-flex>
                            </v-layout>
                            <v-layout row>
                                <v-flex xs4>
                                    <v-subheader>Choose your Team</v-subheader>
                                </v-flex>
                                <v-flex xs8>
                                    <v-radio label="Sun" v-model="teamPlayerTwo" value="brightness_low" dark></v-radio>
                                    <v-radio label="Moon" v-model="teamPlayerTwo" value="brightness_2" dark></v-radio>
                                    <v-radio label="Star" v-model="teamPlayerTwo" value="stars" dark></v-radio>
                                    <v-radio label="Cloud" v-model="teamPlayerTwo" value="cloud_queue" dark></v-radio>
                                </v-flex>
                            </v-layout>
                        </v-container>
                    </v-card-text>
                </v-card>
                <v-btn primary @click.native="e1 = 3">Continue</v-btn>
                <v-btn flat @click.native="e1 = 1">Cancel</v-btn>
            </v-stepper-content>
            <v-stepper-content step="3">
                <v-card class="grey lighten-4 elevation-0">
                    <v-card-text>
                        <v-container fluid>
                            <v-layout row>
                                <v-radio label="20" v-model="click" value="20" dark></v-radio>
                                <v-radio label="40" v-model="click" value="40" dark></v-radio>
                                <v-radio label="60" v-model="click" value="60" dark></v-radio>
                                <v-radio label="80" v-model="click" value="80" dark></v-radio>
                                <v-radio label="100" v-model="click" value="100" dark></v-radio>
                            </v-layout>
                        </v-container>
                    </v-card-text>
                </v-card>
                <router-link :to="{ name: 'game', params: { p1:  playerOneName , t1: teamPlayerOne, p2: playerTwoName, t2:teamPlayerTwo , click:click}}">
                    <v-btn primary>Start Game</v-btn>
                </router-link>
                <v-btn flat @click.native="e1 = 2">Cancel</v-btn>
            </v-stepper-content>
        </v-stepper>
    </div>
</template>

<script>
    export default {
        name:'Home',
        data () {
            return {
                e1: 0,
                playerOneName:'player 1',
                teamPlayerOne:'brightness_low',
                playerTwoName:'player 2',
                teamPlayerTwo:'stars',
                click:'20',
            }
        },
        methods:{
        }
    }
</script>